.footer {
    background-color: #151717;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
  }
  
  .footer-link {
    margin: 0 10px;
  }
  
  .social-icon {
    height: 30px; /* Ajusta esto según el tamaño deseado de los iconos */
  }
  