.loader-history {
  position: relative;
  width: 7.5rem; /* 120px / 16px */
  height: 8.75rem; /* 140px / 16px */
  background-image: radial-gradient(circle 1.875rem, #000 100%, transparent 0),
                    radial-gradient(circle 0.15625rem, #000 100%, transparent 0),
                    radial-gradient(circle 0.15625rem, #000 100%, transparent 0),
                    linear-gradient(#000 0.625rem, transparent 0);
  background-position: center 7.8125rem, 4.5rem 6.3125rem, 1.6875rem 3.25rem, center 7.125rem;
  background-size: 3.75rem 3.75rem, 1.25rem 1.25rem, 1.25rem 1.25rem, 0.25rem 0.875rem;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 15.625rem; /* 250px / 16px */
}

.loader-history-before {
  content: '';
  position: absolute;
  width: 42%; /* No se cambia */
  height: 35%; /* No se cambia */
  border-radius: 50%;
  border: 0.09375rem solid #000; /* 1.5px / 16px */
  left: 39.58%; /* No se cambia */
  top: 55%; /* No se cambia */
  transform: translate(-25%, -27.5%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}

.loader-history-after {
  content: '';
  position: absolute;
  height: 35%; /* No se cambia */
  width: 35%; /* No se cambia */
  transform: translate(-50%, -50%) rotate(-45deg) rotateY(0deg);
  left: 50%; /* No se cambia */
  top: 63%; /* No se cambia */
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  animation: rotate_4191 1.75s linear infinite;
}

.loader-history-after img {
  width: 100%; /* No se cambia */
  height: 100%; /* No se cambia */
  object-fit: cover; /* No se cambia */
}

@keyframes rotate_4191 {
  to {
    transform: translate(-50%, -50%) rotate(-45deg) rotateY(360deg);
  }
}
