/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 10px;
}

/* Banner Principal */
.banner {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.banner img {
  max-width: 100%;
  height: auto;
}

/* Sección de Bienvenida */
.bienvenida {
  padding: 20px;
  background-color: #fff;
}

/* Historia del Colegio */
.historiaTitulo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 5vh;
}




.historiaBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 10vh; /* Ajusta la altura según tus necesidades */
}

/* Nuestro Equipo */
.equipo {
  padding: 20px;
}

/* Valores y Filosofía Educativa */
.valores {
  padding: 20px;
}

/* Instalaciones y Recursos */
.instalaciones {
  padding: 20px;
}

/* Compromiso con la Comunidad */
.compromiso {
  padding: 20px;
}

/* Testimonios y Logros de los Estudiantes */
.testimonios {
  padding: 20px;
}

/* Información de Contacto */
.contacto {
  padding: 20px;
}

/* Pie de Página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Enlaces Rápidos */
.enlaces-rapidos {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
}



