/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
}

/* Encabezado */
header {
  background-color: transparent;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: large;
  
}

.pika{
  padding: 20px;
  display: flex;
  justify-content: first baseline;
  align-items:first baseline;
  height: 100;
}

header h1 {
  margin: 10px;
  font-size: 50px;
}

.fondo-pagina1 {
  background-image: url("./Banners/Banner\ 2.jpg");
  background-size: cover;
  background-position: center;
  height: 100; /* Ajusta la altura según tus necesidades */
  /* Otros estilos necesarios para el contenido de la página */
}

.fondo-pagina2 {
  background-image: url("./Banners/Banner\ 3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  /* Otros estilos necesarios para el contenido de la página */
}

.hero{
  padding: 20px;
  display: flex;
  justify-content: last baseline;
  align-items:last baseline;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 40vh;

}


/* Banner Principal */


/* Sección de Bienvenida */
.bienvenidaTitle {
  padding: 20px;
  display: flex;
  justify-content: last baseline;
  align-items:last baseline;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

.bienvenidaBody {
  padding: 20px;
  display: flex;
  justify-content: last baseline;
  align-items:last baseline;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 0.1vh;
}

/* Historia del Colegio */
.historiaTitulo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}




.historiaBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 10vh; /* Ajusta la altura según tus necesidades */
}

/* Nuestro Equipo */
.equipoTitle {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

.equipoBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}


/* Valores y Filosofía Educativa */
.valoresTitle {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

.valoresBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

/* Instalaciones y Recursos */
.instalacionesTitle {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}


.instalacionesBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

/* Compromiso con la Comunidad */
.compromisoTitle {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

.compromisoBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

/* Testimonios y Logros de los Estudiantes */
.testimoniosTitle {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

.testimoniosBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

/* Información de Contacto */
.contactos {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}


/* Enlaces Rápidos */
.enlaces-rapidos {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
}



