.achievements-container {
    text-align: center;
}

/* Estilos para el banner principal */
.achievements-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../../assets/banners/Banner_5.webp');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    width: 100%;
    min-height: 250px; 
    font-size: 1.5em;
}

.achievements-banner h1 {
    margin-top: 1.2em;
    font-size: 1.5em;
  }
  
.achievements-banner p{
    font-size: 0.9em;
}
    

/* Estilos para la sección de foto */
.photo-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../../assets/banners/Banner_6.webp');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    width: 100%;
    min-height: 250px; /* Cambiado a min-height */
}

.photo-section-text {
    margin-top: 6%;
}

/* Estilos para las secciones blancas */
.white-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 0.1px;
    margin-top: 20px;
    min-height: 500px; /* Cambiado a min-height */
    align-items: center;
}

.white-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trophy-photo {
    width: 150px;
    height: auto;
}

/* Estilos para los títulos y párrafos de las secciones */
.section h2{
    margin: 10px 0;
    font-size: 1.5em;
}

.section p{
    font-size: 1.2em;
}

/* Estilos para la sección de dos columnas */
.two-column-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.text-column {
    width: 50%; /* Ajusta el ancho según sea necesario */
    padding: 10px; /* Añade algo de espacio alrededor del texto */
    flex: 1;
}

.excelence-photo {
    flex-shrink: 0;
    width: 500px;
    height: auto;
}

/* Estilos para los botones del acordeón */
.accordion-button {
    background-color: #0A73C8; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px; /* Espaciado interior */
    width: 100%; /* Ancho completo */
    border: none; /* Sin bordes */
    text-align: left; /* Alineación del texto */
    outline: none; /* Sin contorno al enfocar */
    font-size: 1.2em; /* Tamaño del texto */
    transition: 0.4s; /* Transición suave */
    cursor: pointer; /* Cursor como puntero */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio debajo del botón */
}

/* Cambiar el color al pasar el ratón */
.accordion-button:hover, .accordion-button:focus {
    background-color: #FFBD59;
}

/* Estilos para el contenido del acordeón */
.accordion-content {
    padding: 0 18px;
    background-color: white;
    transition: max-height 0.6s ease; /* Añade transición suave */
    max-height: 0; /* Inicialmente no visible */
    overflow: hidden;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.accordion-content.open {
    max-height: 1000px; /* Altura máxima cuando esté abierto */
}


/* Estilos generales para la sección de tarjetas */
.cards-section {
    display: flex;
    justify-content: space-around; /* Distribución uniforme */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
  }
  
  /* Estilos para cada tarjeta individual */
  .card-container {
    max-width: 300px;
    border-radius: 0.7rem;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    margin-top: 50px;
    flex: 50%; /* Ocupa 1/3 del ancho disponible, pero puede encogerse o crecer */
  }
  .card-image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255); /* Color de fondo de ejemplo */
  }
  
  .card-content {
    padding: 1.1rem;
  }
  
  .card-title-link {
    text-decoration: none;
  }
  
  .card-title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .card-description {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .card-action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .card-action:hover {
    background-color: #1D4ED8; /* Color de fondo al pasar el mouse */
  }
  
  .card-action span {
    transition: transform 0.3s ease;
  }
  
  .card-action:hover span {
    transform: translateX(4px);
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .cards-section {
      flex-direction: column; /* Mostrar las tarjetas en una columna */
    }
    .card-container {
      width: 90%; /* Ancho ajustado para pantallas pequeñas */
      margin: 1rem auto; /* Centrar las tarjetas */
    }
  }

  

/* Estilos para ajustes responsivos */
@media (max-width: 768px) {
    .two-column-section {
        flex-direction: column;
    }

    .excelence-photo{
        width: 100%;
    }

    .text-column{
        width: 94.5%;
        margin-left: 10px;
    }

        
    .white-section2 {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        min-height: 400px; /* Cambiado a min-height */
    }
}

/* Estilos adicionales para el banner */
.banner-section {
    background-color: #333;
    color: white;
    padding: 50px 0;
}
