.achievements-container {
    text-align: center;
}

/* Estilos para el banner principal */
.achievements-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../../assets/banners/Banner\ 5.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    width: 100%;
    min-height: 250px; /* Cambiado a min-height */
    font-size: 1em;
}

.achievements-banner h1 {
    margin-top: 1.2em;
}

/* Estilos para la sección de foto */
.photo-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../../assets/banners/Banner 6.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    width: 100%;
    min-height: 250px; /* Cambiado a min-height */
}

.photo-section-text {
    margin-top: 6%;
}

/* Estilos para las secciones blancas */
.white-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 500px; /* Cambiado a min-height */
}

.white-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trophy-photo {
    width: 150px;
    height: auto;
}

/* Estilos para los títulos y párrafos de las secciones */
.section h2, .section p {
    margin: 10px 0;
    font-size: 1.5em;
}

/* Estilos para la sección de dos columnas */
.two-column-section {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.text-column {
    width: 50%; /* Ajusta el ancho según sea necesario */
    padding: 10px; /* Añade algo de espacio alrededor del texto */
    flex: 1;
}

.excelence-photo {
    flex-shrink: 0;
    width: 700px;
    height: auto;
}

/* Estilos para los botones del acordeón */
.accordion-button {
    background-color: #2f59cec0; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px; /* Espaciado interior */
    width: 100%; /* Ancho completo */
    border: none; /* Sin bordes */
    text-align: left; /* Alineación del texto */
    outline: none; /* Sin contorno al enfocar */
    font-size: 1.2em; /* Tamaño del texto */
    transition: 0.4s; /* Transición suave */
    cursor: pointer; /* Cursor como puntero */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio debajo del botón */
}

/* Cambiar el color al pasar el ratón */
.accordion-button:hover, .accordion-button:focus {
    background-color: #dde74e;
}

/* Estilos para el contenido del acordeón */
.accordion-content {
    padding: 0 18px;
    background-color: white;
    transition: max-height 0.6s ease; /* Añade transición suave */
    max-height: 0; /* Inicialmente no visible */
    overflow: hidden;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.accordion-content.open {
    max-height: 1000px; /* Altura máxima cuando esté abierto */
}

/* Estilos para ajustes responsivos */
@media (max-width: 768px) {
    .two-column-section {
        flex-direction: column;
    }

    .excelence-photo{
        width: 100%;
    }

    .text-column{
        width: 98%;
    }

        
    .white-section2 {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        min-height: 400px; /* Cambiado a min-height */
    }
}

/* Estilos adicionales para el banner */
.banner-section {
    background-color: #333;
    color: white;
    padding: 50px 0;
}
