/* Home.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; 
}

.home-container {
  max-width: 100%; /* Change to 100% to adapt to any screen width */
  margin: 0 auto;
}

.hero-section {
  text-align: center;
  padding: 15% 0 5%; /* Use percentages for padding */
  position: relative;
  background: none;
  color: #ecf0f1;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

/* Commenting out the hero-image section */
/*
.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  display: none;
}
*/

.hero-content {
  max-width: 70%; /* Change to a percentage */
  margin: 0 auto;
}

.hero-title {
  font-size: 3vw; /* Use viewport units for font size */
  margin-bottom: 2vh; /* Use viewport units for margin */
  color: #fff;
}

.hero-description {
  font-size: 1.2vw; /* Use viewport units for font size */
  color: #ecf0f1;
}

.cta-button {
  padding: 2vh 4vw; /* Use viewport units for padding */
  font-size: 1.2vw; /* Use viewport units for font size */
  background-color: #1f4ea0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10vh;
}

.cta-button:hover {
  background-color: #04236b;
}

/* Snap Cards Section */

.azul {
  background-color: #647cbc;
}

.yellow {
  background-color: #d3c584;
}

.azul2 {
  background-color: #647cbc;
}

.scroll-snap-card {
  height: 50vh;
  width: 30vw;
  scroll-snap-type: block mandatory; /* Adjusted to block mandatory */
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  margin: 0 auto; /* Center horizontally */
  margin-right: 12%;
  margin-bottom: 10vh; /* Use viewport units for margin */
  margin-top: 2vh; /* Use viewport units for margin */
  border-radius: 10px;
  
  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.scroll-snap-card .slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-snap-card .slide p {
  font-size: 1vw; /* Use viewport units for font size */
  color: white;
  font-weight: 700;
}

/* card photos */ 

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.card-text h2 {
  font-size: 2vh; /* Adjust font size as needed */
  margin: 0;
}

.card-text p {
  font-size: 1.2vh; /* Adjust font size as needed */
  margin: 1vh 0 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh; /* Use viewport units for margin */
  padding: 0 5vw; /* Use viewport units for padding */
}

.card {
  position: relative;
  width: calc((100% - 10vw) / 2); /* Adjusted width for equal spacing and symmetry */
  height: 15vh; /* Use viewport units for height */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 5vh; /* Use viewport units for margin */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 2vh; /* Use viewport units for padding */
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 2vh; /* Use viewport units for font size */
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 1vh 0 0; /* Use viewport units for margin */
  font-size: 1.2vh; /* Use viewport units for font size */
  color: #777;
  line-height: 1.4;
}

/* CARD REDIRECTS */
.card-redirect-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh; /* Use viewport units for padding */
}

.card-redirect {
  width: calc((100% - 12vw) / 3); /* Adjusted width for equal spacing and symmetry */
  height: 30vh; /* Use viewport units for height */
  border-radius: 5vw;
  background: #f5f5f5;
  position: relative;
  padding: 1.8vh 1.8vw; /* Use viewport units for padding */
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-bottom: 5vh; /* Use viewport units for margin */
  margin-right: 2vw; /* Add space between cards */
}

.card-redirect-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-redirect-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
  font-size: 1.5vw;
}

/* Text */
.text-title {
  font-size: 1.5vw; /* Use viewport units for font size */
  font-weight: bold;
}

/* Hover */
.card-redirect:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-redirect:hover .card-redirect-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}


/* FLIP CARD */

@keyframes idleAnimation {
  0%, 100% {
    transform: rotateY(20deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
}

.Flip-card {
  width: 30vw;
  height: 20vh;
  perspective: 1000px;
  margin: auto;
  margin-right: 10vw;
  margin-bottom: 5vh;
}

.Flip-card-wrapper {
  width: 100%;
  height: 100%;
  animation: idleAnimation 3s infinite; /* Apply idle animation here */
}

.Flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s; /* Smooth transition for flipping */
}

/* Override idle animation and apply flip on hover */
.Flip-card:hover .Flip-card-wrapper {
  animation-play-state: paused; /* Pause idle animation on hover */
}

.Flip-card:hover .Flip-card-inner {
  transform: rotateY(180deg); /* Apply the flip transform */
}

.Flip-card-front,
.Flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.Flip-card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  font-size: 2vh;
  transform: rotateY(0deg);
}

.Flip-card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  font-size: 2vh;
  transform: rotateY(180deg);
}
