/* Contact.css */
.contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .contact-form-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }
  
  .contact-page-form h2 {
    color: #151717;
    margin-bottom: 15px;
  }
  
  .contact-input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .contact-input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-input-group input, .contact-input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
  }
  
  .contact-input-group input:focus, .contact-input-group textarea:focus {
    outline: none;
    border-color: #2d79f3;
  }
  
  .contact-submit-btn {
    background-color: #151717;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .contact-submit-btn:hover {
    background-color: #252727;
  }
  
  .contact-info-box {
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .contact-info-box h2, .contact-info-box h3 {
    color: #151717;
    margin-bottom: 10px;
  }
  
  .contact-info-box p {
    margin-bottom: 5px;
  }

  .opening-hours h3 {
    margin-top: 20px;
    color: #151717;
    
  }
  
  .social-media-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-icon {
    font-size: 30px;
    color: #151717; /* O el color que prefieras */
  }
  
  .google-map-box {
    text-align: left;
    max-width: 500px;
  }
  
  .google-map-box iframe {
    width: 100%;
    height: 300px;
    border: none;
  }
  
  @media (min-width: 768px) {
    .contact-page-container {
      flex-direction: row-reverse; /* Cambia el orden de los elementos */
      justify-content: center;
      align-items: flex-start;
    }
  
    .contact-form-box, .contact-info-box {
      width: calc(50% - 20px);
    }
  
    .google-map-box iframe {
      height: 400px;
    }
  }
  