.loader-history {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(circle 30px, #000 100%, transparent 0),
    radial-gradient(circle 2.5px, #000 100%, transparent 0),
    radial-gradient(circle 2.5px, #000 100%, transparent 0),
    linear-gradient(#000 10px, transparent 0);
  background-position: center 125px, 72px 101px, 27px 52px, center 114px;
  background-size: 60px 60px, 20px 20px, 20px 20px, 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 250px;
}

.loader-history-before {
  content: '';
  position: absolute;
  width: 42%;
  height: 35%;
  border-radius: 50%;
  border: 1.5px solid #000;
  left: 39.58%;
  top: 55%;
  transform: translate(-25%, -27.5%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}

.loader-history-after {
  content: '';
  position: absolute;
  height: 35%;
  width: 35%;
  transform: translate(-50%, -50%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 63%;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  /* Oculta el contenido que se desborda */
  animation: rotate_4191 1.75s linear infinite;
}

.loader-history-after img {
  width: 100%;
  /* Ajusta el ancho según tus necesidades */
  height: 100%;
  /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  /* Ajusta según tus necesidades (cover, contain, etc.) */
}


@keyframes rotate_4191 {
  to {
    transform: translate(-50%, -50%) rotate(-45deg) rotateY(360deg);
  }
}