.loader-history {
  position: relative;
  width: 3vw;
  height: 6.5vh;
  background-image: radial-gradient(circle 1.5vh, #000 100%, transparent 0),
    radial-gradient(circle 0.25vh, #000 100%, transparent 0),
    radial-gradient(circle 0.25vh, #000 100%, transparent 0),
    linear-gradient(#000 1vh, transparent 0);
  background-position: center 6.05vh, 4.5vh 4.75vh , 0.8vh 0.8vh, center 5.25vh;
  background-size: 3.5vh 3vh, 0.5vh 0.5vh , 0.5vh 0.5vh , 0.25vh 1vh;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 20vh;
}

.loader-history-before {
  content: '';
  position: absolute;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  border: 0.125vh solid #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}

.loader-history-after {
  content: '';
  position: absolute;
  height: 70%;
  width: 70%;
  transform: translate(-50%, -50%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 47.25%;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  /* Oculta el contenido que se desborda */
  animation: rotate_4191 1.75s linear infinite;
}

.loader-history-after img {
  width: 100%;
  /* Ajusta el ancho según tus necesidades */
  height: 100%;
  /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  /* Ajusta según tus necesidades (cover, contain, etc.) */
}


@keyframes rotate_4191 {
  to {
    transform: translate(-50%, -50%) rotate(-45deg) rotateY(360deg);
  }
}