/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0vw;
  padding: 0vh;
  
}

/* Encabezado */
header {
  background-color: transparent;
  color: #fff;
  padding: 0.78125vw;
  text-align: center;
  font-size: 3vh;
  
}


header h1 {
  margin-top: 8vw;
  font-size: 9vh;

}

.title1{
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 3.2vh;
  font-weight: bold;
}

.title2{
  background-color: transparent;
  color: #000;
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
}

.fondo-pagina1 {
  background-image: url("../../assets/banners/Banner\ 2.jpg");
  background-size: cover;
  background-position: center;
  height: 100hv;
}

.fondo-pagina2 {
  background-image: url("../../assets/banners/Banner\ 3.jpg");
  background-size: cover;
  background-position: center;
  height: 108vh; 
}

.hero{
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 25vh;

}



/*Data settings */

.dataBody1 {
display: grid;
grid-template-columns: 1fr 1fr; 
grid-template-rows: auto auto; 
height: 60vh;

}

.dataAdjust1 {
  background-color: #fff;
  grid-column: 2/3;
  grid-row: 1/3;
}


/* Sección de Bienvenida */
.bienvenidaTitle {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items:center ;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height:0.5vh;
}

.bienvenidaTitle text {
  background-color: transparent;
  color: #fff;
  text-align: top;
  font-size: 5vh;
  font-weight: bold;

}




.bienvenidaBody {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 15vh;
}

.bienvenidaBody text {
  text-align: center; /* Alinea el texto a la izquierda */
  width: 35vw; /* Establece el ancho en 1vw */
  margin-top: 0.01vw;
  font-size: 0.9vw;
  font-family: "Arial";

}

/* Historia del Colegio */



.historia{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  height: 29vh;
}

.historiaPicture{
  background-color: rgba(50, 50, 50, 0.7);
  height: 29vh;
  width: 49.7vw;
  grid-column: 2 / 3; 
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items:center;
}

.historiaPicture img{
  background-size: cover;
  background-position: center;
  width: 30vw;

}

.historiaText{
  grid-column: 1 / 2; 
  grid-row: 1 / 3;
  height: 5vh;
  display: grid;  
  grid-template-rows: 1fr 1fr; 

}

.historiaTitulo {
  padding: 0.78125vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  height: 3.05vh;
  width: 48.15vw;
  grid-row: 1 / 2;
}



.historiaBody {
  padding: 0.78125vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  color: #000;
  height: 20vh; 
  width: 48.15vw;
  grid-row: 2 / 3;
  align-items: center;
  justify-content: center;
}


.historiaBody text {
  text-align: justify;
  width: 15vw; 
  margin-left: 2vw; 
  margin-top: 5vh;
  font-size: 1vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  grid-column: 2 / 3; 
}

.historiaBody element {
  grid-column: 1 / 2; 
  display: flex;  
  align-items: center;
  justify-content: center;
}




/* Nuestro Equipo */
.equipo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  background-color: rgba(50, 50, 50, 0.7);
  color: #000;
  grid-column: 1/3;
  grid-row: 2/3;
}

.equipoStructure{
  background-color: #fff;
  height: 31vh;
  width: 49.7vw;
  grid-column: 2 / 3; 
  grid-row: 1 / 3;
}

.equipoPicture{
  color: #000;
  align-items: center;
  margin-top: 0.25vh;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .equipo {
    display: grid;
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: auto auto; /* Dos filas automáticas */    
    gap: 0px;
    background-color: rgba(50, 50, 50, 0.7);
    color: #000;
  }

  .equipoStructure{
    background-color: #fff;
    height: 31vh;
    width: 100vw;
    grid-column: 1; /* Ocupa la única columna disponible */
    grid-row: 1; /* En la primera fila */
    justify-content: center;
    
  }

  .equipoPicture{
    color: #000;
    align-items: center;
    margin-top: 0.25vh;
    justify-content: center;
    grid-column: 1; /* Ocupa la única columna disponible */
    grid-row: 2; /* En la segunda fila */
  }
  .equipoTitle {
    padding: 0.78125vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 5vh;
    width: 48.15vw;
    margin-left: 12.5vh;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
  }

  .equipoBody {
    padding: 0.78125vw;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    align-items: center;
  
    height: 20vh;
    width: 48.15vw;
    margin-left: 12.5vh;
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
  }

  .equipoBody text {
    text-align: justify; /* Alinea el texto a la izquierda */
    width: 30vw; /* Establece el ancho en 1vw */
    margin-left: 5vw; /* Mueve el bloque 2vw a la derecha */
    margin-top: 1vh;
    font-size: 1vh;
    font-family: "Helvetica Neue", Arial, sans-serif;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
  }
}





.equipoTitle {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  width: 48.15vw;
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.equipoBody {
  padding: 0.78125vw;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  align-items: center;

  height: 20vh;
  width: 48.15vw;
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}

.equipoBody text {
  text-align: justify; /* Alinea el texto a la izquierda */
  width: 30vw; /* Establece el ancho en 1vw */
  margin-left: 5vw; /* Mueve el bloque 2vw a la derecha */
  margin-top: 1vh;
  font-size: 1vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.equipoBody element {
  grid-column: 2 / 3; 
  grid-row: 1 / 2;
  height: 5vh;
  display: flex;  
  align-items: center;
  justify-content: center;


}



/* Instalaciones y Recursos */
.instalacionesTitle {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}


.instalacionesBody {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

/* Compromiso con la Comunidad */
.compromisoTitle {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

.compromisoBody {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #fff;
  height: 5vh;
}

/* Testimonios y Logros de los Estudiantes */
.testimoniosTitle {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

.testimoniosBody {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}

/* Información de Contacto */
.contactos {
  padding: 0.78125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 5vh;
}


/* Enlaces Rápidos */
.enlaces-rapidos {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
}



