/* Estilo base de la barra de navegación */
.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.01));
  color: #fff;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

/* Estilo del logo */
.logo-container img {
  width: 75px;
}

/* Contenedor de enlaces */
.nav-links-container {
  display: flex;
  align-items: center;
}

/* Lista de enlaces */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Elementos individuales de la lista */
.nav-item {
  margin-right: 15px;
}

/* Enlaces individuales */
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  padding: 0.5rem 0.625rem;
}

/* Eliminar efecto al pasar el mouse sobre enlaces */
.nav-link:hover, .nav-link.active-link {
  background-color: transparent;
  border-radius: 0;
}

/* Botón del menú hamburguesa */
.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: none;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links-container {
    position: absolute;
    padding-top: 15px;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
    transition: all 0.3s ease;
  }

  .nav-links-container.expanded {
    display: flex;
    animation: slideDown 0.5s ease forwards;
  }

  .logo-container img {
    width: 50px;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-item {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-link {
    display: block;
    text-align: center;
  }
}

/* Animación de deslizamiento hacia abajo */
@keyframes slideDown {
  from {
    transform: scaleY(0);
    transform-origin: top;
    height: 0;
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
    height: auto;
    opacity: 1;
  }
}

/* Ocultar la barra de navegación */
.hide-navbar {
  transform: translateY(-100%);
}

/* Asegurar que el cuerpo del documento sea relativo */
body {
  position: relative;
}
