.navbar {
  background-color: #151717;
  color: #fff;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-container img {
  width: 50px;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .nav-links-container {
    display: none;
  }
}
/* Estilo del botón Acceder */
.nav-item button {
  margin-top: auto;
  margin-bottom: auto;
}